@import url('https://fonts.googleapis.com/css2?family=Inter');

body {
  font-family: 'Inter', sans-serif;
}

#name-container {
  transition: opacity 0.3s ease-in-out;
  display: inline-block;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
